### <font color = blue> Para o desenvolvimento desses projetos utilizaremos o pandas para explorar os dados de maneira descritiva e o seaborn para explorar de maneira visual

# <font color= green>Primeiro Projeto de Classificação
---
 Nesse primeiro projeto vamos fazer a classificação dos dados entre porco e cachorro, apenas para aprender o básico, dando início ao aprendizado

## <font color = red> Primeira Aula
---
Vimos toda a primeira parte de criação e treinamento de um modelo, além de testar a porcentagem de acertos dele.

In [17]:
# Features: pelo longo, perna curta e faz "au au". (1 == sim, 0 == não)

porco1 = [0, 1, 0]
porco2 = [0, 1, 1]
porco3 = [1, 1, 0]

cachorro1 = [0, 1, 1]
cachorro2 = [1, 0, 1]
cachorro3 = [1, 1, 1]

# 1 => porco, 0 => cachorro
treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
treino_y = [1,1,1,0,0,0] #label / etiqueta

In [18]:
from sklearn.svm import LinearSVC

In [19]:
model = LinearSVC()
model.fit(treino_x, treino_y)

LinearSVC()

In [20]:
animal_misterioso = [1,1,1]
model.predict([animal_misterioso])

array([0])

In [21]:
misterio1 = [1,1,1]
misterio2 = [1,1,0]
misterio3 = [0,1,1]

teste_x = [misterio1, misterio2, misterio3]
teste_y = [0,1,1]

In [22]:
previsoes = model.predict(teste_x)
previsoes

array([0, 1, 0])

In [23]:
corretos = (previsoes == teste_y).sum()
total = len(teste_x)
taxa_de_acerto = corretos/total
print("A taxa de acertos é:",taxa_de_acerto * 100)

A taxa de acertos é: 66.66666666666666

In [24]:
from sklearn.metrics import accuracy_score

taxa_de_acerto = accuracy_score(teste_y, previsoes)
print("Taxa de acerto de:", taxa_de_acerto * 100)

Taxa de acerto de: 66.66666666666666

# <font color = green> Segundo Projeto de Classificação
---
Nesse projeto vamos pegar os dados de uma URL

In [25]:
import pandas as pd

In [26]:
dados = pd.read_csv("https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv")
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [27]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados.rename(columns = mapa, inplace = True)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [28]:
dados.shape

(99, 4)

In [29]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]

In [30]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

print(f'Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos')

Treinaremos com 75 elementos e testaremos com 24 elementos

In [31]:
from sklearn.svm import LinearSVC

model = LinearSVC()
model.fit(treino_x, treino_y)

LinearSVC()

In [32]:
from sklearn.metrics import accuracy_score

previsoes = model.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia desse modelo é de: {acuracia*100:.2f}%')

A acurácia desse modelo é de: 95.83%

## Utilizando a biblioteca para separar treino e teste

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print(f'Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos')

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia desse modelo é de: {acuracia*100:.2f}%')

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia desse modelo é de: 96.00%

In [45]:
# proporção de ~2:1
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [46]:
# proporção de ~3:1
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

### Colocando proporcionalidade na separação com stratify a partir da classificação

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                        random_state = SEED, 
                                                        stratify = y, 
                                                        test_size = 0.25)
print(f'Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos')

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia desse modelo é de: {acuracia*100:.2f}%')

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia desse modelo é de: 96.00%

In [50]:
# proporção de ~2:1
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [52]:
# proporção de ~2:1
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64